@tailwind base;
@tailwind components;
@tailwind utilities;
.header{
    background-image: url(/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
html,body{
    margin: 0;
    padding: auto;
    overflow-x: hidden;
}

.about-info{
    width: 200px;
    height:150px;
}